<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mycattonapplication">

    <!--权限配置-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--icon属性配置应用安装图片
        label属性配置应用名 好像不管用 在主活动配置label-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/cartoon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.mine.UserInfoActivity"></activity>
        <activity android:name=".activity.search.SearchResultActivity" />
        <activity android:name=".activity.search.SearchActivity" />
        <!--label配置应用安装后的名称-->
        <activity
            android:name=".activity.start.StartActivity"
            android:label="@string/title_activity_start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.wordShow.WordShowActivity" />
        <activity android:name=".activity.cartoonDetail.CartoonDetailActivity" />
        <activity android:name=".activity.categoryDetail.CategoryDetailActivity" />
        <activity android:name=".activity.login.RegisterActivity" />
        <activity android:name=".activity.login.LoginActivity" />
        <activity android:name=".activity.home.MainActivity" />
        <activity android:name=".activity.mine.CollectCartoonActivity"></activity>
        <activity android:name=".activity.mine.LikeCartoonActivity"></activity>
        <activity android:name=".activity.mine.RemarkCartoonActivity"></activity>
        <activity android:name=".activity.mine.LookThroughCartoon"></activity>
    </application>

</manifest>